html {

}

body {
    padding: 0;
    margin: 0;
}

p {
    font-family: Montserrat,sans-serif;
    letter-spacing: .1em;
    line-height: 1.5em;
    font-weight: 100;
    max-width: 75%;
}

a {
    text-decoration: none;
}

nav {
    width: 75%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 20px 0;
}

li {
    font-family: 'Muli', Helvetica , Arial, sans-serif;
    color: rgba(245, 245, 245, 0.733);
    letter-spacing: 1px;
    font-weight: 100;
    transition: all ease-in-out .08s;
    transform: scale(.98);
}

li:hover {
    color: white;
}


/* ----------------HEADINGS--------------------- */
.hero h1 {
    font: 35px 'Muli', Helvetica , Arial, sans-serif;	
	margin:0 0 10px 0;
	padding:0;
	color: #FFFAFA;
    font-weight: 100;
}

h2 {
    font-weight: 600;
    letter-spacing: 2px;
    font: 65px 'Muli', Helvetica , Arial, sans-serif;
    margin: 0;
}

h3 {
    font-weight: 400;
    letter-spacing: 2px;
    font: 30px 'Muli', Helvetica , Arial, sans-serif;
    margin: 0;
}

h4 {
    font-weight: 100;
    letter-spacing: 2px;
    font: 15px 'Muli', Helvetica , Arial, sans-serif;
    margin: 0;

}


.hero h2 {
	margin:0 0 5px 0;
	padding:0;
	color: #FFFAFA;
}

.content-heading h2 {
    font-size: 30px;
    color: black;
}

.heading {
    max-width: 625px;
    margin: 0 0 0 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 120px 0;
}

.hero {
    background-color: #222;
    /* background-image: url(img/background.png); */

}

section {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.about {
    background-color: #FFFAFA;
}

.portfolio {
    background-color: #222;
    padding: 0 80px;
    /* background-image: url(img/background.png); */
}

.portfolio h2,h3, h4 {
    color: #FFFAFA;
    padding-bottom: 10px;
}

.items {
    display: flex;
}
.item {
    padding: 0 50px 0 0;
    text-align: center;
    margin: 50px 50px 0 0;
    transform: scale(.99);
    transition: all ease .2s;
    opacity: .9;
}

.item:hover {
    transform: scale(1);
    opacity: 1;
}

.emoji {
    font-size: 50px;
    margin: 0;
}

.items img {
    width: 150px;
    padding-bottom: 15px;
    -webkit-box-shadow: 10px 10px 29px -16px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 29px -16px rgba(0,0,0,0.75);
box-shadow: 10px 10px 29px -16px rgba(0,0,0,0.75);
}






@media only screen 
and (max-device-width : 800px)
 {

    h2 {
        font-size: 55px
    }

    h1 {
        font-size: 25px;
    }

    .hero h1 {
        font-size: 25px;
        padding-top: 15px;
    }
     
     section {
         width: 100%;
         text-align: center;
         padding: 0;
         margin: 0;

     }  

     .heading {
         width: 100%;
     }
    .container {
        margin: 0 10px;
    }

    .portfolio {
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .items {
        flex-direction: column;
    }

    .item {
        margin: 0;
        padding: 0;
    }

    nav {
        width: 100%;
    }
    p {
        max-width: 100%;
        text-align: left;
    }
   
    }
